apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: devopsdemo
  name: devopsdemo
spec:
  replicas: 3
  selector:
    matchLabels:
      app: devopsdemo
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: devopsdemo
    spec:
      containers:
      - image: ekelejay/test-app:6
        name: devopsdemo
        resources: {}
status: {}
---
apiVersion: v1
kind: Service
metadata:
  name: lb-service
  labels:
    app: lb-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 5000
  selector:
    app: devopsdemo